{% extends "payout_tracking/layout.html" %}

{% block title %}
   Client's Feedback
{% endblock %}

{% block body %}
    <div class="feedback-container">
        <h2>Feedback on Delivery</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Send Feedback</button>
        </form>
    </div>
{% endblock %}
