{% extends "payout_tracking/layout.html" %}

{% block title %}
Home - Delivery Payouts
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center mt-4">Delivery Payout Tracker</h2>

    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'add_delivery' %}" class="btn btn-success btn-lg">➕ Add New Delivery</a>
    </div>

    <div class="card shadow-lg mt-3">
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead class="table-info">
                <tr>
                    <th>#</th>
                    <th>
                        Date
                        <a href="?sort=date_asc" class="text-decoration-none text-dark">↑</a>
                        <a href="?sort=date_desc" class="text-decoration-none text-dark">↓</a>
                    </th>
                    <th>Delivery ID</th>
                </thead>
                <tbody>
                {% for delivery in deliveries %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ delivery.date }}</td>
                    <td>
                        <a href="{% url 'delivery_details' delivery_id=delivery.delivery_id %}">
                            {{ delivery.delivery_id }}
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center text-muted">No deliveries recorded yet.</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Payout Stats Table -->
    <div class="card shadow-lg mt-5">
        <div class="card-body">
            <h3 class="text-center">Payout Stats</h3>
            <table class="table table-bordered table-hover">
                <thead class="table-info">
                    <tr>
                        <th>Max Payout</th>
                        <th>Min Payout</th>
                        <th>Average Payout</th>
                        <th>Total Payout</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ agg.sum_payout__max }} KZT</td>
                        <td>{{ agg.sum_payout__min }} KZT</td>
                        <td>{{ agg.sum_payout__avg|floatformat:1 }} KZT</td>
                        <td>{{ agg.sum_payout__sum }} KZT</td>
                        <td>{{ agg.sum_payout__count }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
